{% extends 'base_layout.html' %}

{% block main_content %}
    <style>
     .tickets_container
     {
         height: 400px; width: 100%; background-color:lightgrey;border: none;
         box-shadow: 2px 2px 2px lightgrey; overflow-y: scroll;position: relative;
     }
     .tickets_container>div:nth-child(4n+1)
     {
         clear: right;
     }
     .tickets_container>div
     {
         transition:all 0.75s ease;
         height: fit-content;width: fit-content; background-color: whitesmoke; border: none; border-radius:2% ; float: right;margin-right: 3%;margin-top: 3%;
         font-size: 100%;
     }
     .tickets_container>div:hover
     {
       cursor: pointer; background-color: wheat;
     }
    </style>
    <script>
     function create_new_ticket(form)
     {
         const form_data=new FormData(form);
         $.ajax(
             {
                 method:'POST',
                 url:'{% url 'new_tickets' %}',
                 data:form_data,
                 contentType:false,
                 processData:false,
                 headers:{'X-CSRFToken':'{{ csrf_token }}'},
                 success:function ()
                 {

                 },
                 error:function (error) {
                     alert(`${error}`)
                 }
             }
         ).then(res=>{
             console.log(res);
             if(res.status==='fail'){
                const error_element=document.getElementById('ticket_error'); error_element.innerText=res.error_message;
                form.querySelector('input').style.border='1px solid red';
                error_element.style.display='block';
             }
             else
             {
                 window.open(res.url,'_self');
             }
         })
     }
    </script>
     <button onclick="document.getElementById('my_form').style.display='block';"
            style="background-color: mediumseagreen;border: none
     ;border-radius: 2%;color: whitesmoke;text-shadow: 1px 1px 1px whitesmoke">
    تیکت جدید
    </button>

   <br>
    <br>
    <form style="display: none;position: relative" id="my_form" >
      <div style="float: right">
    عنوان تیکت:
    <input name="ticket_title" maxlength="100" type="text" style="height: 5%;width: 60px;" required>
     </div>

       <div style="float: right;display: flex;flex-direction: column;margin-right: 5px">
        <button style="background-color: darkseagreen;border: none;
     ;border-radius: 2%;color: whitesmoke;text-shadow: 1px 1px 1px whitesmoke"  onclick="create_new_ticket(this.parentElement);event.preventDefault()">
               ثبت تیکت
        </button>
    <button style="background-color: red;border: none;
     ;border-radius: 2%;color: whitesmoke;text-shadow: 1px 1px 1px whitesmoke"
    onclick="this.parentElement.style.display='none'">
        x
        بستن
    </button>
           </div>
    <p style="color: red;display: none;position: absolute;bottom: -40%" id="ticket_error">

        </p>
    </form>
    <div class="tickets_container">
    {% for ticket in tickets %}
     <div onclick="window.open('{% url 'ticket_dtails' ticket.title %}','_self')">
        عنوان تیکت:{{ ticket.title }}
     <br>
     تاریخ ایجاد تیکت :{{ ticket.creation_date }}
     </div>

    {% endfor %}
    <div style="position: absolute;bottom: 0%;right: 50%">
        {% for page in paginator.page_range %}
            <a href="?page={{ page }}" style="float: right;color: white;background-color: lightgrey;font-size: 120%">
             {{ page }}
            </a>
        {% endfor %}
    </div>
    </div>
{% endblock %}